<html>
	<title>KissDownloader File Manager</title>
	<head>

	</head>
	<body ng-app="fileManagerApp" ng-controller="fileManagerController">
		<table>
			<tr>
				<td><button ng-click="clear()">Clear</button></td>
				<td><button ng-click="refresh()">Refresh</button></td>
			</tr>
		</table>
		<div>
			<ul>
				<li ng-repeat="(domain, seriesList) in kissShows">{{domain}}
					<ul>
						<li ng-repeat="(seriesName, episodeList) in seriesList">{{seriesName}}
							<table>
								<tr ng-repeat="episode in episodeList">
									<td><a href="{{episode.url}}" target="_blank">{{episode.episodeName}}</td>
									<td><button ng-click="downloadEpisode(seriesName, episode.episodeName, episode.url)">Download</button></td>
								</tr>
							</table>
						</li>
					</ul>
				
				</li>

			</ul>
		</div>
	</body>
	<script src="jquery-3.1.1.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="filemanager.js"></script>
<html>


